package.json
webpack.config.js
yarn.lock
**/build/*
**/node_modules/

#===

uikit.css
uikit.min.css
uikit-rtl.css
uikit-rtl.min.css

uikit-core.css
uikit-core.min.css
uikit-core-rtl.css
uikit-core-rtl.min.css

**/src/js/*
**/src/scss/*
**src/images/icons/*
