:root {
    --font-family-monospace: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --font-family-sans-serif: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    --base-font-size: 13px;
    --base-color: #333;
    --base-background: #fafbfc;
}

html,
body {
    font-family: var(--font-family-monospace);
    font-size: var(--base-font-size);
    line-height: 1.4rem;
    font-weight: 400;
    color: var(--base-color);
    background-color: var(--base-background);
    margin: 0;
}
body {
    padding: 10px 0 30px;
}
.small, small {
    font-size: .9rem;
    font-weight: 400;
}
a {
    color: #084ce1;
    text-decoration: none;
    background-color: transparent;
}

.container-fluid, .container-lg, .container-xl {
    padding: 0;
    max-width: 1200px;
}

.breadcrumb {
    padding: 5px 10px;
    background: #eaebec;
}
header + .container-fluid {
    background: #fff;
    padding: 20px;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 20%);
}

.table {
    margin: 10px 0 20px;
    background: #fbfbfb;
}
td.codeLine {
    font-family: var(--font-family-monospace);
}
.table-bordered td, .table-bordered th {
    border: 0;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.table-bordered > thead > tr + tr > td + td {
    border-left:  1px solid #ccc;
}

td span.comment,
td span.html {
    color: #777;
}
td span.default,
pre span.string {
    color: #222;
}

.table tbody tr.covered-by-large-tests,
li.covered-by-large-tests,
tr.success,
td.success,
li.success,
span.success {
    background-color: #dafbda;
    background-color: #d9ffd0;
}
.table tbody tr.warning,
.table tbody td.warning,
li.warning,
span.warning {
    background-color: #fff5bf;
}
.table tbody tr.danger,
.table tbody td.danger,
li.danger, span.danger {
    background-color: #ffe3e3;
    background-color: #ffdfdf;
}

footer {
    background: #f2f3f4;
    border-top:  1px solid #d8d8d8;
    margin: 0 -20px -20px;
    padding: 20px;
}
footer hr {
    display: none;
}
footer p:last-child {
    margin:  0;
}
