@charset "UTF-8";
@import url("sketsa.css");

:root {
  --base-background: #e3f2fd; /* Blue 50 */
  --base-background: #e8eaf6; /* Indigo 50 */
  --base-background: #e0f2f1; /* Teal 50 */
}

/* ================ */

.app-wrapper {
  min-height: 100vh;
  position: relative;
}
.app-container {
  max-width: 600px;
  margin: 0 auto;
}
