@charset "UTF-8";

:root {
  --font-family-arabic: "Scheherazade New", "Traditional Arabic", serif;
  --font-family-sans: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-family-mono: Consolas, monaco, monospace;
  --base-font-size: 16px;
  --base-line-height: 1.4;
  --base-color: #222;
  --base-color-inverse: #fff;
  --base-background: #fff;
  --base-background-inverse: #111;

  --base-gap-sm: var(--unit-250);
  --base-gap: var(--unit-350);
  --base-gap-md: var(--unit-600);
  --base-gap-lg: var(--unit-800);
  --base-gap-xl: var(--unit-1600);

  /* root app padding */
  --root-vertical-gap: var(--base-gap);
  --root-horizontal-gap: var(--base-gap);

  /* For width, height, margin, padding and flex-gap */
  --unit-0: 0rem;
  --unit-025: 0.0625rem;
  --unit-050: 0.125rem;
  --unit-100: 0.25rem;
  --unit-150: 0.375rem;
  --unit-200: 0.5rem;
  --unit-250: 0.625rem;
  --unit-300: 0.75rem;
  --unit-350: 0.875rem;
  --unit-400: 1rem;
  --unit-500: 1.25rem;
  --unit-600: 1.5rem;
  --unit-800: 2rem;
  --unit-1000: 2.5rem;
  --unit-1200: 3rem;
  --unit-1400: 3.5rem;
  --unit-1600: 4rem;
  --unit-2000: 5rem;
  --unit-2400: 6rem;
  --unit-2800: 7rem;
  --unit-3200: 8rem;

  --color-link: rgba(0, 91, 211, 1);
  --color-link-hover: rgba(0, 66, 153, 1);
  --color-link-active: rgba(0, 46, 106, 1);

  --border-radius-0: 0rem;
  --border-radius-sm: var(--unit-150);
  --border-radius-md: var(--unit-300);
  --border-radius-lg: var(--unit-500);
  --border-radius-xl: var(--unit-800);

  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.25);
}

/* ======================== Normalize ======================== */

/* === DOM Style Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--base-font-size);
  font-weight: normal;
  line-height: var(--base-line-height);
  color: var(--base-color);
  background: var(--base-background);

  position: relative;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  scrollbar-width: thin;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  max-width: 100%;
}

canvas,
img,
svg,
video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  overflow-wrap: break-word;
  vertical-align: middle;
}

#root,
#__next {
  isolation: isolate;
}

/* === DOM Style Standardize */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  letter-spacing: -0.625px;
}
h1 {
  font-size: 1.7rem;
  line-height: 1.2;
}
h2 {
  font-size: 1.45rem;
  line-height: 1.3;
}
h3 {
  font-size: 1.3rem;
  line-height: var(--base-line-height);
}
h4 {
  font-size: 1.1rem;
  line-height: var(--base-line-height);
}
h5 {
  font-size: var(--uk-font-size);
  line-height: var(--base-line-height);
}
h6 {
  font-size: 0.9rem;
  line-height: var(--base-line-height);
}

* + p,
* + ul,
* + ol,
* + dl,
* + pre,
* + address,
* + fieldset,
* + figure {
  margin-top: calc(var(--base-gap) * 0.5);
}

ul,
ol {
  padding-left: var(--base-gap);
}
a {
  text-decoration: none;
  color: var(--color-link);
}
a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}
a:active {
  color: var(--color-link-active);
}

/* ======================== UI Reusable Style ======================== */

/* === Component: Flex - one dimension row or column */
:root {
  --flex-gap: var(--root-vertical-gap);
}

.ui-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--flex-gap);
}
.ui-flex-column > * {
  margin-top: 0;
  margin-bottom: 0;
}
.ui-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--flex-gap);
}

/* === Component: Grid - two dimension row and column */
:root {
  --grid-gap: var(--base-gap);
}

.ui-grid {
  /* Fixed nested ui-gap-* */
  --grid-gap: var(--base-gap);

  display: grid;
  gap: var(--grid-gap);
}
.ui-grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.ui-grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* For both Flex and Grid */
.ui-gap-sm {
  --flex-gap: var(--base-gap-sm);
  --grid-gap: var(--base-gap-sm);
}
.ui-gap-md {
  --flex-gap: var(--base-gap-md);
  --grid-gap: var(--base-gap-md);
}
.ui-gap-lg {
  --flex-gap: var(--base-gap-lg);
  --grid-gap: var(--base-gap-lg);
}
.ui-gap-xl {
  --flex-gap: var(--base-gap-xl);
  --grid-gap: var(--base-gap-xl);
}

/* === Component: Card */

:root {
  --card-padding: var(--base-gap);
}

.ui-card {
  position: relative;
  display: flow-root;
  background: #fff;
  padding: var(--root-vertical-gap) var(--root-horizontal-gap);
  margin: 0 calc(var(--root-vertical-gap) * -1);
}
.ui-card:not(.ui-card-full) {
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  padding: var(--card-padding) var(--card-padding);
  margin: 0;
}
.ui-card-md {
  --card-padding: var(--base-gap-md);
}
.ui-card-full {
}

/* === Component: label */

.ui-label {
  font-size: calc(var(--base-font-size) * 0.9);
  line-height: 1;
  color: var(--base-color);
  background: #fff;
  text-decoration: none;
  padding: 4px var(--base-gap-sm);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
}

/* === Component: breadcrumb */
.ui-breadcrumb {
  font-size: calc(var(--base-font-size) * 0.82);
  line-height: calc(var(--base-line-height) * 0.82);
  margin-bottom: 5px;
}

/* === Utilities */
.ui-arabic {
  direction: rtl;
  font-family: var(--font-family-arabic);
  font-size: calc(var(--base-font-size) * 1.4);
  line-height: calc(var(--base-line-height) * 1.4);
}
.ui-arabic .ayahNumber {
  font-size: 24px;
  letter-spacing: -2px;
  margin: 0 5px 0 10px;
  display: inline-block;
}
.ui-arabic .ayahNumber span {
  font-size: 25px;
  font-size: 18px;
  padding: 0 1px;
}
.ui-terjemah {
  font-style: italic;
  font-size: calc(var(--base-font-size) * 0.9);
  font-weight: 300;
  display: none;
}
.ui-terjemah-show .ui-terjemah {
  display: block;
}

.ui-margin {
  margin-bottom: var(--base-gap);
}
* + .ui-margin {
  margin-top: var(--base-gap) !important;
}
* > :last-child {
  margin-bottom: 0;
}

.ui-clickable:hover {
  cursor: pointer;
}
.ui-text-center {
  text-align: center;
}
.ui-color-inverse {
  color: var(--base-color-inverse);
  text-shadow: -2px -1px 4px rgba(0, 0, 0, 0.3);
}

/* ======================== Application ======================== */

:root {
  --base-background: #e1ebd2;
  --base-background: #eef3e6;

  /* https://www.color-hex.com/color-palette/1036745 */
  --green-gradient: linear-gradient(145deg, #bfcfa8 10%, #3e713b 100%);
  --green-gradient-soft: linear-gradient(145deg, #b0e0ab 20%, #b5cdb1 100%);
}

/* ================ */

.splash-screen {
  background: #3e713b;
  background: var(--green-gradient);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.splash-content {
  padding: 1rem 4rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: var(--border-radius-md);
}

/* ================ */

.app-wrapper {
}
.app-container {
  min-width: 380px;
  max-width: 640px;
  margin: 0 auto;
}
.app-outlet {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.app-nav-main {
  color: var(--base-color-inverse);
  background: #628d0d;
  padding: calc(var(--root-vertical-gap) / 4) var(--root-horizontal-gap);
  box-shadow: var(--shadow-sm);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .app-version {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
  }
}
.app-content {
  padding: var(--root-vertical-gap) var(--root-horizontal-gap);
  padding-bottom: var(--unit-1200);
  height: calc(100vh - 40px);
  overflow-y: auto;

  .backdrop-top {
    background: #3e713b;
    background: linear-gradient(160deg, #b1c84b 20%, #92c648 60%, #4c8149 100%);
    height: 21rem;
    width: 40rem;
    position: absolute;
    top: -8.5rem;
    left: -10px;
    right: -10px;
    z-index: -2;
    border-radius: 5rem;
    transform: skew(0deg, -12deg);
  }
  .bd-bottom {
    top: auto;
    height: 10rem;
    bottom: -7rem;
    border-radius: 2.5rem;
    transform: skew(16deg, -7deg) translateX(-7.5rem);
  }
}
.app-floatbar {
  /* padding: var(--base-gap-sm); */
  /* background: rgba(255, 255, 255, 0.5); */
  /* border-radius: var(--border-radius-sm); */

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .app-floatbar-content {
    color: var(--base-color-inverse);
    background: var(--base-background-inverse);
    height: 42px;
    /* border-radius: var(--border-radius-sm); */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
  }

  a {
    color: var(--base-color-inverse);
    text-decoration: none;
  }
  .active {
    color: #b1c84b;
    border-bottom: 2px solid #ddcc69;
  }
}
