:root {
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-mono: Consolas, monaco, monospace;
  --base-font-size: 14px;
  --base-line-height: 1.5;
  --base-color: #222;
  --base-background: #eee;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-size);
  font-weight: normal;
  line-height: var(--base-line-height);
  -webkit-text-size-adjust: 100%;
  color: var(--base-color);
  background: var(--base-background);
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 2rem;
}

#root {
  max-width: 768px;
  margin: 0 auto;
  padding: 1rem;

  background: #fff;
  border: 1px solid #ccc;
  border-radius: calc(1rem / 3);
}
